.checkout {
    display: flex;
    flex: 1;
    float: left;
    padding: 20px;
    background-color: white;
    /* justify-content: center; */
    height: max-content;
    width: 100%;
    /* width: 2500px; */
}
/* .empty>h2{
    text-align: center;
    color: royalblue;
    font-weight: bold;
}
.empty >p{
    margin-top: 50px;
    text-align: center;
    color: rebeccapurple;
    font-size: large;
    font-weight: bold;
} */
.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.cartTag{
    display: flex;
    color: #003153;
    background-color: #71a6d2;
    text-align: center;
}
.cartTag > p{
    /* margin-left: auto; */
    margin-right: auto ;
}
.cartFinal{
    text-align: center;
    color: white;
    background-color: #003153;
}