.cartTag{
    /* display:flex; */
    /* margin-top: 600px; */
    /* margin-left: 20px; */
    /* text-align: center; */
    color: #003153;
    background-color: #71a6d2;
    text-align: center;
}
/* .cartTag >p{
    
    margin-left: 20px;
    margin-right: 130px;
} */
.cartFinal{
    text-align: center;
    color: white;
    background-color: #003153;
}