.linkButton{
    color: black;
    font-weight: bolder;
    text-align: center;
    border: 1px  solid;


}
.linkButton:hover{
    color: black;
}
.link{
    justify-content: center;
    /* background-color: gray; */
}
.link:hover{
    background-color: gray;
}